@use 'abstracts' as *;

// Variables
$bg-color: #0b0c15;
$text-color: #e0e0e0;
$accent-color: #6c63ff;
$secondary-color: #2a2b38;

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: $bg-color;
    color: $text-color;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
    position: relative;
    z-index: 1;
}

section#Homepage {
    padding-top: 80px;
    z-index: 9999; // Force homepage to always be above other sections
}

section#Experience {
    z-index: 8;
}

section#MyProjects {
    z-index: 7;
}

section#About {
    z-index: 6;
}

section#Contact {
    z-index: 5;
}

@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: 1366px) {
        @content;
    }
}