@use '../../abstracts' as *;

.navbar {
    height: 80px;
    position: relative;
    width: 100%;
    z-index: 100;
    background: transparent;

    .wrapper {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 20px;

        @include mobile {
            justify-content: space-between;
            padding: 0 20px;
        }

        .logo {
            font-weight: 700;
            font-size: 24px;
            background: linear-gradient(120deg, $text-color, $accent-color);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            @include mobile {
                font-size: 20px;
            }
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}